.tour-video-header{
    color:rgb(76, 128, 17);
}

.iframe{
    width: 660px;
    height: 415px;
}
@media only screen and (min-width: 689px) and (max-width: 1024px) {
    .iframe{
        width: 660px;
        height: 415px;
    }
}

@media only screen and (max-width: 688px) {
    .iframe{
        width: 50px;
        height: 50px;
    }
}

